# Godot editor cache
.godot/

# Build-time configs (created by CI from secrets/variables)
license-config.json
app-config.json

# Import files
*.import

# UID files
*.uid

# Temp files
*.tmp
*~

# Export builds
exports/
